@model MeetUp.Web.Models.LoginViewModel

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(s => s.ReturnURL)

    <h2>Login</h2>
    <div>

        @if (TempData["ErrorMSG"] != null)
        {
            <label style="color:maroon;"> @TempData["ErrorMSG"] </label>
            <br /><br />
        }

        @Html.TextBoxFor(s => s.Email, new { @placeholder = "Email", @class = "form-control" })
        <br /> 
        @Html.PasswordFor(s => s.Password, new { @placeholder = "Password", @class = "form-control" })
        <br /> 
        @*@Html.CheckBoxFor(s => s.isRemember) Remember me*@
        @*<br />*@ 

        <button type="submit" class="btn btn-success">Login</button>
    </div>
}