@model MeetUp.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    <div>

        @*@if (TempData["ErrorMSG"] != null)
        {
            <label style="color:maroon;"> @TempData["ErrorMSG"] </label>
            <br /><br />
        }*@

        @Html.TextBoxFor(s => s.Email, new { @placeholder = "Email", @class = "form-control" })
        <br /> 

        @Html.TextBoxFor(s => s.FullName, new { @placeholder = "Full name", @class = "form-control" })
        <br /> 

        @Html.PasswordFor(s => s.Password, new { @placeholder = "Password", @class = "form-control" })
        <br />

        @Html.PasswordFor(s => s.ConfirmPassword, new { @placeholder = "Confirm password", @class = "form-control" })

        <br /> 
        <button type="submit" class="btn btn-success">Register</button>
    </div>
}


@*<form method="post" action="/Account/Register" class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-2" for="email">Email:</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="Email">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="email">Full name:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="fullName" placeholder="Enter full name" name="FullName">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Password:</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="Password">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Confirm Password:</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="pwd" placeholder="Confirm password" name="ConfirmPassword">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>*@