@using MeetUp.Web.Helpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-default navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">MeetUp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    @Html.ListItemAction("Home", "Index", "Home")

                    @*<li class="nav-item">
            <a class="nav-link" href="#">About</a>
        </li>*@

                    @if (Session["User"] != null)
                    {
                        @Html.ListItemAction(Session["User"].ToString(), "myprofile", "Home")
                        @Html.ListItemAction("Logout", "Logout", "Account")


                        @*@Html.ActionLink("Logout", "Logout", "Account", new { }, new { @class = "nav-link" })*@
                    }
                    else
                    {
                        @Html.ListItemAction("Register", "Register", "Account")
                        @Html.ListItemAction("Login", "Login", "Account")
                    }
                </ul>
            </div>
        </div>
    </nav>


    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @if (Session["User"] != null)
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href=""> @Session["User"]</a>
                            </li>
                            <li>@Html.ActionLink("Logout", "Logout", "Account")</li>

                        </ul>
                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("Register", "Register", "Account")</li>
                            <li>@Html.ActionLink("Login", "Login", "Account")</li>
                        </ul>
                    }

                </div>
            </div>
        </div>*@
    <div class="container body-content">

        @{
            Html.RenderPartial("_FormErrors");
        }

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - BudinovInc.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/js")
    @Scripts.Render("~/Scripts/lightslider.min.js")

    @RenderSection("scripts", required: false)
</body>
</html>
