@model  MeetUp.Web.Models.Home.UserPageListingModel
@{
    ViewBag.Title = "Home";
}

<h1 class="my-4">
    @ViewBag.Title
    @*<small>Secondary Text</small>*@
</h1>


<div class="row">

    <div class="col-md-3 col-sm-3">
        <aside class="filter">

            <div class="widget clearfix">
                <form method="get" action="">
                    <input type="text" value="@ViewBag.AgeFrom" name="ageFrom" class="form-control" placeholder="Age from" />
                    -
                    <input type="text" value="@ViewBag.AgeTo" name="ageTo" class="form-control" placeholder="Age to" />

                    <input type="submit" value="Filter" class="form-control" />

                </form>
            </div>

            <hr/>
            
            <div class="widget clearfix">
                <form method="get" action="" id="formFilterSex">
                    Sex:
                    <select name="sex" class="form-control" id="filterSex">
                        <option value="0">All</option>
                        <option value="1" @(ViewBag.Sex == 1 ? "selected" : "")>Males</option>
                        <option value="2" @(ViewBag.Sex == 2 ? "selected" : "")>Females</option>
                    </select>

                </form>
            </div>
        </aside>
    </div>

    <div id="" class="col-md-9 col-sm-9 ">
        <div class="row">

            @foreach (var user in Model.Users)
            {
                var firstImageName = user.Images.Any() ? user.Images.First().Name : null;

                var ext = (user.Images.Any() && user.Images.First().Extension != null) ?
                    user.Images.First().Extension : Model.DefaultUserImageExt;


                <div class="col-md-4">
                    <div class="card h-100">
                        <a href="/users/view/@user.Id">
                            <img class="card-img-top" src="~/Files/GetImage/@firstImageName?ext=@ext" alt="" height="300" />
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="/users/view/@user.Id">@user.Name </a>
                                @{
                                    if (user.Birthday != null)
                                    {
                                        var userBD = (DateTime)user.Birthday;
                                        var age = DateTime.Now.Year - userBD.Year;
                                        <span>
                                            @age г.
                                        </span>
                                    }
                                }


                                @if (Session["User"] != null)
                                {
                                    var isLiked = user.UsersLikeThisUser.Where(u => u.Id == Convert.ToInt32(Session["UserId"])).FirstOrDefault();
                                    var btnText = "Like";
                                    if (isLiked != null)
                                    {
                                        btnText = "Dislike";
                                    }
                                    <button id="likeBtn_@user.Id" class="btn btn-dark likeBtn" data-user_id="@user.Id">@btnText</button>
                                }
                            </h4>
                            <p class="card-text">
                                @user.Description
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</div>







       
        @*<div class="row">


            @foreach (var user in Model.Users)
            {
                var firstImageName = user.Images.Any() ? user.Images.First().Name : null;

                var ext = (user.Images.Any() && user.Images.First().Extension != null) ?
                    user.Images.First().Extension : Model.DefaultUserImageExt;


                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="/users/view/@user.Id">
                            <img class="card-img-top" src="~/Files/GetImage/@firstImageName?ext=@ext" alt="" height="300" />
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="/users/view/@user.Id">@user.Name </a>
                                @{
                                    if (user.Birthday != null)
                                    {
                                        var userBD = (DateTime)user.Birthday;
                                        var age = DateTime.Now.Year - userBD.Year;
                                        <span>
                                            @age г.
                                        </span>
                                    }

                                }


                                @if (Session["User"] != null)
                                {
                                    var isLiked = user.UsersLikeThisUser.Where(u => u.Id == Convert.ToInt32(Session["UserId"])).FirstOrDefault();
                                    var btnText = "Like";
                                    if (isLiked != null)
                                    {
                                        btnText = "Dislike";
                                    }
                                    <button id="likeBtn_@user.Id" class="btn btn-dark likeBtn" data-user_id="@user.Id">@btnText</button>
                                }
                            </h4>
                            <p class="card-text">
                                @user.Description
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>*@

        @if (Model.TotalPages > 1)
        {
            <ul class="pagination justify-content-center">
                @{
                    var disablePrev = "";
                    var disableNext = "";

                    if (Model.CurrentPage == 1)
                    {
                        disablePrev = "disabled";
                    }
                    if (Model.CurrentPage == Model.TotalPages)
                    {
                        disableNext = "disabled";
                    }
                }
                <li class="page-item @disablePrev">
                    <a class="page-link" href="/?page=@Model.PreviousPage" tabindex="-1">Previous</a>
                </li>
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    var active = "";
                    if (i == Model.CurrentPage)
                    {
                        active = "active";
                    }
                    <li class="page-item @active"><a class="page-link" href="/?page=@i">@i</a></li>
                }
                <li class="page-item @disableNext">
                    <a class="page-link" href="/?page=@Model.NextPage">Next</a>
                </li>
            </ul>
        }


        @*<ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>*@
        <!-- /.container -->
